.blog-post-nav {
  margin-top: 20px;
}

.blog-post-nav .categories-container {
  display: flex;
  justify-content: flex-start; /* 왼쪽 정렬 */
  align-items: center; /* 수직 가운데 정렬 */
  margin-bottom: 10px; /* postCategories 다음에 한 줄 내리기 위해 여백 추가 */
}

.blog-post-nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* 좌우 끝에 붙이기 위해 space-between 사용 */
  list-style: none;
  padding: 0;
}

.blog-post-nav li {
  flex: 1; /* 각 항목이 동일한 너비를 가지도록 설정 */
  text-align: center;
  margin: 0 10px;
}

.blog-post-nav .prev-title,
.blog-post-nav .next-title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; /* 텍스트가 한 줄로 표시되도록 설정 */
  max-width: 33%; /* 전체 너비의 33%로 제한 */
}

.blog-post-nav .prev-link span,
.blog-post-nav .next-link span {
  display: inline-block;
  white-space: nowrap;
}

.blog-post-nav a {
  color: #007acc;
  text-decoration: none;
  font-weight: bold;
}

.blog-post-nav a:hover {
  text-decoration: underline;
}